@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
    color: white;
    background-color: black;
    }
}

@layer components {
    .menuLink {
        @apply cursor-pointer hover:text-[#c5c5c5];
    }

    .tags{
        background-color: rgb(214, 47, 47);
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        padding: 3px 10px;
        display: inline-block;
        color: white;
        font-size: 12px;
    }

    .tags:last-child {
        margin-right: 0;
    }

    .tags:nth-child(2) {
        background-color: rgb(43, 189, 38);
    }

    .tags:nth-child(3) {
        background-color: rgb(193, 37, 134);
    }

    .tags:nth-child(4) {
        background-color: rgb(193, 86, 23);
    }
}